.productCard{
    position: relative;
    height: 200px;
    border-radius: 5%;
    display: flex;
    overflow: hidden;
    margin: 5px;
    flex-direction: column;
    justify-content: space-evenly;
}
.buyNow{
    background: transparent;
    width: 100%;
    border: none;
    align-self: center;
    color: #009c8e;
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
}
.productImage{
    height: 135px;
    width: 135px;
    align-self: center;
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 50%;
}